.create {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20%;
    font-family: 'Nunito';

    .content {
        flex: 4;
        min-height: 100vh;
        width: 100%;

        .top-section {
            padding: 2%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .intro{
                font-size: 25px;
                font-weight: 700;
                color: rgb(73, 73, 73);

                span {

                }
            }
        }

        .main-section {
            padding: 2%;

            .mail-section {

                form {

                    .title {
                        margin-bottom: 3%;
                    }
                    .formInput {
                        position: relative;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        margin-bottom: 3%;

                        .create-label {
                            position: absolute;
                            top: 10px;
                            left: 15px;
                            font-size: 16px;
                            font-weight: 600;
                            transition: top .3s;
                            padding: 0 5px;
                            color: #929292;

                            .icon {
                                cursor: pointer;
                            }
                        }

                        .create-input, .select-input {
                            width: 100%;
                            border: none;
                            outline: none;
                            background-color: #e7e7e7;
                            border-radius: 10px;
                            color: rgb(90, 89, 89);
                            font-family: 'Nunito';
                            font-weight: 700;/* 
                            box-shadow: -1px 0px 7px -4px rgba(0,0,0,0.85);
                            -webkit-box-shadow: -1px 0px 7px -4px rgba(0,0,0,0.85);
                            -moz-box-shadow: -1px 0px 7px -4px rgba(0,0,0,0.85); */

                            &:focus {
                                border-color: #929292;
                                border-width: 1px;
                            }
                        }

                        .create-input:focus ~ .create-label,
                        .create-input:not(:placeholder-shown).create-input:not(:focus) ~.create-label {
                            top: -15px;
                            background-color: #ffffff;
                            color: #3b01b8;
                        }

                        .select-input:focus ~ .create-label,
                        .select-input:not(:placeholder-shown).select-input:not(:focus) ~.create-label {
                            top: -15px;
                            background-color: #ffffff;
                            color: #3b01b8;
                        }
                    }
                }
            }
        }
    }
}